body{
background: #D3D3D3;
}

#login
{
     position: relative;
     text-align: center;
     alignment-adjust: central;
     top:120px;
     font-weight: bold;
     font-family: arial, helvetica, geneva, sans-serif;
     color: #000000;
     z-index:1;
     background: #D3D3D3;
     padding: 0px;
     margin: 0px;
}

#banner
{
	top: 0px;
        height:20%;
	background-color:#3071a9;
}

