#wrapper{
  position: absolute;
  text-align: left;
  width: 2000px;
  height: 1500px;

}

#buttons{
position: absolute;
float:right;    
    
}

/* jcrop styles */
.jc-demo-box {
  position: relative;
  text-align: left;
  margin: 1.5em auto;
  background: #fff;
  -webkit-box-shadow: 0 3px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0 3px 9px -1px rgba(0,0,0,0.75);
  padding: 1em 2em 2em;
}



/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: relative;
  top: 10px;
  width: 150px;
  height: 150px;
  right: -210px;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #bcbcbc;
}
